* {
  margin: 0;
  padding: 0;
  z-index: 1;
}

.page-content {
  display: block;
  width: 96%;
  position: relative;
  margin: 1% 2%;

  .editUsersForm {
    margin: 0;
    margin-bottom: 1%;
    padding: 1vh 0;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1rem rgba(50, 50, 50, 0.5);
  }

  .addProduct {
    margin: 0;
    margin-bottom: 1%;
    padding: 1vh 0;
    width: 100%;
    border-radius: 0.8rem;
    box-shadow: 0 0.5rem 1rem rgba(50, 50, 50, 0.5);
  }

p {
  font-family: Arial, sans-serif;
}

  h1 {
    margin: 0 auto;
  }

.btn-edit {
  text-align: right;
}

h2 {
  text-align: center;
  padding-top: 20px;
}

.table-header {
  padding: 1% 2%;
  & > button {
    display: inline-block;
  }
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-remove-rows {
  background: red;
  color: #ffffff;
}

.button-remove {
  color: red;
}

::ng-deep .mat-form-field-infix {
  width: 100% !important;
}

.form-input {
  padding-right: 5px;
}

mat-table {
  display: table;
  background-color: #f3f3f3;
  border: 1px solid;
  margin: 1rem auto;
}

tr:nth-child(odd) {
  background-color: #e1e1e1;
}

mat-table th {
  background-color: #c9c9c9;
}

  mat-form-field {
    margin: 0 1%;
  }
  img {
    height: 4vh;
    width: 4vh;
  }
}
