$white: #fff;
$navbar-color: #28272d;
$nav-color-hover: #414148;
$text-color: #fff;

$nav-font-size: 1.3rem;

$nav-height: 4rem;
$login-width: 6rem;

$transition-time: 0.2s;


* {
  margin: 0;
  padding: 0;
  font-size: $nav-font-size;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: $navbar-color;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    //width: 100% / 3;
    align-items: center;
    height: 5rem;

    &:nth-child(1) {
      padding-left: 5%;
    }

    &:nth-child(3) {
      padding-right: 10%;
    }
  }
}

.logo {
  position: relative;
  font-family: "Arial Black", bold, sans-serif;
  text-decoration: underline 0.2rem $navbar-color;
  transition: $transition-time;
  &:hover {
    transition: $transition-time;
    background-color: $navbar-color;
    text-decoration: underline 0.2rem #fa6f03;
  }
}

.search-input {
  padding: 1%;
  width: 50vw;
  height: 60%;
}

a {
  text-align: center;
  padding: 0.5rem;
  margin: 0 0.5vw;
  display: block;
  text-decoration: none;
  color: $text-color;
  cursor: pointer;
  background-color: $navbar-color;
  transition: $transition-time;
  border-radius: 0.4rem;

  &:hover {
    transition: $transition-time;
    background-color: $nav-color-hover;
  }
}

i {
  font-size: 1.8rem;
}

ul {
  margin: 0;
  padding: 0.5rem;
  list-style: none;
  overflow: hidden;
  display: flex;
  align-items: center;
}

li {
  height: 100%;
}

.sub-menu-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  //position: relative;
}

.sub-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: block;
  padding-top: 1rem;
  top: 4rem;
  width: 20vw;
  //transform: translateY(-1em);
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  li {
    width: 100%;
    padding: 0;

    a {
      border-top: 1px solid #d0d0d0;
      width: 100%;
      border-radius: 0;
      padding: 0.5rem 0;
      margin: 0;
    }
  }
}

.sub-menu-parent:focus .sub-menu,
.sub-menu-parent:focus-within .sub-menu,
.sub-menu-parent:hover .sub-menu {
  background-color: $navbar-color;
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

