<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav>
    <div><a class="logo" routerLink="/">TechPro</a></div>
    <div><input type="text" placeholder="Search..." class="search-input" /></div>
    <div><span class="sub-menu-parent"><a><i class="bi bi-person"></i></a>
      <ul class="sub-menu">
        <li><a *ngIf="!isLoggedIn" routerLink="/login">Login</a></li>
        <li><a *ngIf="!isLoggedIn" routerLink="/register">Register</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/profile">My Profile</a></li>
        <li><a *ngIf="isLoggedIn && isAdmin" routerLink="/adminpanel">(Admin Panel)</a></li>
        <li><a *ngIf="isLoggedIn" (click)="logoutClick()">Logout</a></li>
      </ul>
    </span>
    <a *ngIf="isLoggedIn" (click)="openCart()"><i class="bi bi-cart"></i></a>
    </div>
</nav>


<!--<nav>
  <ul>
    <li><a class="logo" routerLink="/">TechPro</a></li>
    <li><input type="text" placeholder="Search..." class="search-input" /></li>
    <li class="sub-menu-parent"><a><i class="bi bi-person"></i></a>
      <ul class="sub-menu">
        <li><a *ngIf="!isLoggedIn" routerLink="/login">Login</a></li>
        <li><a *ngIf="!isLoggedIn" routerLink="/register">Register</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/profile">My Profile</a></li>
        <li><a *ngIf="isLoggedIn && isAdmin" routerLink="/adminpanel">(Admin Panel)</a></li>
        <li><a *ngIf="isLoggedIn" style="color: #c7c7c7;" (click)="logoutClick()">Logout</a></li>
      </ul>
    </li>
    <li><a *ngIf="isLoggedIn" (click)="openCart()"><i class="bi bi-cart"></i></a></li>
  </ul>
</nav>-->
