<div class="userProfile">
  <mat-card>
    <mat-card-header>
      <h1>{{editUser.username}}'s profile:</h1>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="userProfileForm" (ngSubmit)="saveUser()">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" style="pointer-events: none">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Phone number</mat-label>
          <span matPrefix>&nbsp; +38 &nbsp;</span>
          <input type="tel" matInput placeholder="012-345-6789" formControlName="phoneNumber">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Firstname</mat-label>
          <input matInput formControlName="firstname">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Lastname</mat-label>
          <input matInput formControlName="lastname">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Role</mat-label>
          <mat-select [(value)]="editUser.role">
            <mat-option *ngFor="let role of roles" [value]="role.value" (onSelectionChange)="selectRole(role.value)">
              {{role.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div mat-dialog-actions>
          <button mat-button (click)="saveUser()">Save</button>
          <button mat-button mat-dialog-close>Cancel</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
